/*styling for emp_form*/
#inst {
    background-color: rgb(233, 233, 164); width: 200px; border: 1px solid rgb(87, 100, 79);
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px 25px;
	max-width:250px;   
}

#form-message{
    background-color:rgb(255, 232, 232);
	border: 1px solid red;
	color: red;
	display: none;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px 25px;
	max-width:250px;
}

#form{
    border: 1px solid black;
    padding: 50px 75px 100px 125px;
}







